@import url("reset.css");

@font-face {
  font-family: "GiordanoGold";
  src: url('../assets/font/GiordanoGold\ Serif.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MartinaPlantijn-Light";
  src: url('../assets/font/MartinaPlantijn-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

img,picture {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {

 --space-algemeen: 16px;

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  --space-xs: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  --space-s: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --space-m: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  --space-l: clamp(2.5rem, 2.5rem + 0vw, 2.5rem);
  --space-xl: clamp(3.75rem, 3.75rem + 0vw, 3.75rem);
  --space-2xl: clamp(5rem, 5rem + 0vw, 5rem);
  --space-3xl: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2163rem + 0.3846vw, 0.625rem);
  --space-2xs-xs: clamp(0.625rem, 0.5288rem + 0.3846vw, 0.9375rem);
  --space-xs-s: clamp(0.9375rem, 0.8413rem + 0.3846vw, 1.25rem);
  --space-s-m: clamp(1.25rem, 1.0577rem + 0.7692vw, 1.875rem);
  --space-m-l: clamp(1.875rem, 1.6827rem + 0.7692vw, 2.5rem);
  --space-l-xl: clamp(2.5rem, 2.1154rem + 1.5385vw, 3.75rem);
  --space-xl-2xl: clamp(3.75rem, 3.3654rem + 1.5385vw, 5rem);
  --space-2xl-3xl: clamp(5rem, 4.2308rem + 3.0769vw, 7.5rem);

  --c-black: #1E1E1E;
  --c-blue: #3C4E6B;
  --c-green: #436246;
  --c-yellow: #FFC659;
  --c-yellow-background: #F4E4CA;
  --c-background:#F1ECE6;
  --c-grey:#E2DED9;

  --fs-s: 1.25rem;
  --fs-m: 1.5rem;
  --fs-l: 1.85rem;
  --fs-xl: 2.2rem;

  --fs--2: clamp(0.8rem, 0.889rem + -0.0838vw, 0.8681rem);
  --fs--1: clamp(1rem, 1.0545rem + -0.0513vw, 1.0417rem);
  --fs-0: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  --fs-1: clamp(1.5rem, 1.4808rem + 0.0769vw, 1.5625rem);
  --fs-2: clamp(1.8rem, 1.7529rem + 0.1885vw, 1.9531rem);
  --fs-3: clamp(2.16rem, 2.0734rem + 0.3463vw, 2.4414rem);
  --fs-4: clamp(2.592rem, 2.4505rem + 0.5659vw, 3.0518rem);
  --fs-5: clamp(3.1104rem, 2.8937rem + 0.8668vw, 3.8147rem);
}

body {
  background: var(--c-background) url('assets/img/behang.svg') repeat;
  color: var(--c-black);
  line-height: 1.6;
  margin-block: 16px 0;
}

h1 {
  font-size: var(--fs-xl); 
  font-family: "Giordano Gold";
}

h2 {
  font-size: var(--fs-l);
  font-family: "Giordano Gold";
}

h3{
  font-size: var(--fs-m);
  font-family: "Giordano Gold";
}

p {
  font-size: var(--fs-s);
  font-family: "MartinaPlantijn-Light";
}

.chapter1,
.markt, 
.chapter2, 
.soldaten, 
.chapter3, 
.interactive__manuscripten, 
.chapter4 {
  background-color: var(--c-yellow-background);
}

.intro{
  background-image: url('assets/img/kraag-mobile.png');
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text{
text-align: center;
}

.header__logo-img {
  max-width: auto;
  height: 70px;
  margin-inline: var(--space-algemeen);
}

.header__menu-toggle {
  color: var(--c-yellow);
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.intro {
  text-align: center;
  margin-top: 3rem;
}

.header__img{
  max-width: auto;
  max-height: 400px;
}

.intro__title {
  color: var(--c-yellow);
  font-family: "GiordanoGold";
}

.intro__title-2 {
  color: var(--c-green);
  font-size: 2.8rem;
  font-family: "nautica", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -2.5rem;
}

.sub-intro__title{
  font-family: "GiordanoGold";
  color: var(--c-blue);
  margin-block: 10rem 1rem;
  margin-inline: var(--space-algemeen);
  text-align: left;
}

.story__body{
  text-align: left;
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.intro-pointer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  margin-inline: var(--space-l);
  margin-block: var(--space-m-l) 100px;
}

.pointer__img {
  max-width: auto;
  height: 40px;
  transform: scaleY(-1) rotate(-15deg);
  margin-inline: var(--space-algemeen);
}










.wolken__img{
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.bliksem__img {
  max-width: 100%;
  height: auto; 
  z-index: 1;
  margin-block: -15vw;
}

.antwerpen__img {
  max-width: 100%;
  height: auto;
  align-content: center;
}


.highlight {
  color: #d18b00;
  font-weight: bold;
}


.torn-paper__img {
  z-index: 2;
  margin-bottom: -4vw;
}









.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Drie kolommen */
  grid-template-rows: auto auto auto;
  /* Drie rijen */
  /* Ruimte tussen de items */
}


.quote-top {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
}

.portraits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 3;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.portrait-left img,
.portrait-right img {
  max-width: 100%;
  /* Zorgt dat de afbeeldingen responsief blijven */
  height: auto;
}

.kandelaar {
  grid-column: 1 / span 2;
  /* Onder de quotes, midden */
  grid-row: 5;
  max-width: 70%;
  transform: rotate(-5deg);
  margin-block: -10vw 0vw;
  z-index: 3;
}

.lucifer {
  grid-column: 1;
  grid-row: 4;
  transform: rotate(70deg);
  margin-block: 0 -10vw;
}

.quote-bottom {
  grid-column: 1 / span 3;
  /* Onderaan, neemt alle kolommen */
  grid-row: 3;
  margin-block: 10vw 0vw;
}

.gallery-pointer {
  grid-column: 3;
  grid-row: 5;
  text-align: center;
}

.gallery-pointer__text {
  text-align: left;
  margin-inline: -15vw 2vw;
}

.gallery-pointer__img {
  transform: rotate(70deg);
  text-align: left;
  margin-inline: -50vw 0vw;
  margin-block: 0 3vw;
}

.torn-paper {
  grid-row: 6;
  grid-column: 1 / span 3;
}






/* .lucifer {
  grid-area: lucifer;
  align-self: center;
  justify-self: center;
}

.kandelaar {
  grid-area: kandelaar;
  align-self: start;
  justify-self: center;
}

.lucifer__img {
  max-height: 500px;
  max-width: auto;
}

.kandelaar__img {
  max-height: 500px;
  max-width: auto;
} */

.pijl__img {
  grid-area: pijl;
  max-width: auto;
  height: 40px;
  transform: rotate(45deg);
}

/* .interaction p {
  grid-area: tekst;
  align-self: start;
  text-align: left;
} */










@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .boek__img {
    display: none;
  }

  .header__menu-toggle {
    display: block;
  }
  
  .quote-top {
  font-style: italic;
  background-color: rgb(255,198,89, 0.4);
  text-align: left;
  padding-block: 4vw;
  padding-inline: 10vw;
  }

  .quote-bottom {
  font-style: italic;
  background-color: rgb(67,98,70, 0.4);
  text-align: left;
  padding-block: 4vw;
  padding-inline: 10vw;
  }
}

/* .chapter1__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.chapter1__img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
  margin-block: -10vw;
}

.chapter1__img:nth-child(3) {
  grid-column: 1 / span 2;
}

.neus__img {
  max-width: 150px;
  height: auto;
}

.inkttampon__img {
  max-width: 300px;
  height: auto;
}

.papier__img {
  max-width: 150px;
  height: auto;
}

.chapter1__full-title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-block: var(--space-2xl) var(--space-m);
}

.chapter1__title {
  font-family: "GiordanoGold";
  text-align: center;
  color: var(--c-blue);
}

.decoration-left,
.decoration-right {
  width: 40px;
  height: auto;
}

.chapter1__body {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.perkament__img {
  align-items: center;
  max-width: 300px;
  height: auto;
} */

/* .interaction-content{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 2rem;
}

.paper-interaction-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.perkament__img {
  align-items: center;
  max-width: 80%;
  height: auto;
  justify-content: center;
}


.interaction-content__subtitle {
  font-family: "GiordanoGold";
  color: var(--c-blue);
  margin-bottom: 1rem;
  text-align: left;
}

.interaction-content__explanation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.interaction-content__body {
  margin-block: 0rem 4rem;
}

.interaction-content__arrow {
  max-width: 50px;
  height: auto;
  animation: bounce 2s infinite;
} */


.chapter1-container {
  display: grid;
  grid-template-columns: (2fr 1fr);
  grid-template-rows: (2fr, 1fr);
  gap: 2rem;
}

.title-container {
  text-align: center;
  font-family: "GiordanoGold";
}

.chapter1__title {
  text-align: center;
  font-family: "GiordanoGold";
}

.chapter1__body {
  text-align: left;
  margin-block: var(--space-algemeen);
  margin-inline: var(--space-algemeen);
}

.chapter1__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.chapter1__text-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1rem;
}

.chapter1__image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
}

.neus__img{
  grid-column: 1 / span 2;
  grid-row: 1;
}

.inkttampon__img {
  grid-column: 2 / span 3;
  grid-row: 1;
  margin-inline: 5vw 0vw;
  margin-block: -10vw 0vw;
}

.papier__img {
  grid-column: 3 / span 3;
  grid-row: 2;
  margin-block: -20vw 0vw;
  margin-inline: -5vw 0vw;
}


.chapter1__img {
  max-width: 100%;
  height: auto;
}

.paper-interaction-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.perkament {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.perkament__img {
  max-width: 80%;
  height: auto;
}

.interaction-content {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.interaction-content__subtitle{
  font-family: "GiordanoGold";
  color: var(--c-blue);
  margin-inline: var(--space-algemeen);
  text-align: left;
}

.interaction-content__body {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-algemeen);
  text-align: left;
}

.interaction-content__subtitle{
  margin-inline: var(--space-algemeen) 15vw;
}

.interaction-content__arrow {
  transform: rotate(90deg);
  grid-column: 1 / span 2;
}

.pijl-container {
  grid-column: 2 ;
  grid-row: 2;
  max-width: 80%;
  z-index: 1;
  margin-block: -30vw 0vw;
}




.markt__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* Ruimte tussen de kolommen */
  align-items: center;
  /* Centraal uitlijnen in de rij */
}

.markt__body {
  grid-column: 1 / span 5;
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.markt__img {
  grid-column: 1/ span 5;
}

.markt__body{
  margin-inline: var(--space-l-xl);
  margin-block: 20vw;
  align-items: left;
} 

.chapter2{
  margin-block: 0px var(--space-xl);
}

.chapter2__body {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.soldaten-links__img{
  margin-block: 0px var(--space-l-xl);
}

.soldaten__body{
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.chapter3__body{
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.chapter3__body-2 {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l) var(--space-l-xl);
}

.chapter4__body{
  margin-inline: 42px;
  margin-block: var(--space-m-l);
}

.chapter4__body-2 {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-m-l);
}

.footer {
  padding: 2rem;
  background-color: var(--c-blue);
  background-image: url('assets/img/footer-border.svg') no-repeat center;
  background-size: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer__btn {
  background: url('assets/img/footer-btn.svg') no-repeat center;
  background-size: contain;
  border: none;
  color: var(--c-grey);
  font-size: var(--fs-m);
  padding: 1rem 2rem;
  cursor: pointer;
}


.footer {
  text-align: center;
  color: var(--c-grey);
}

.footer-info{
  color: var();
}

.footer__contact address {
  font-style: normal;
  line-height: 1.5;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer__socials .socials {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.footer__socials .socials li a {
  display: block;
  width: 40px;
  height: 40px;
}













/* .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-container::before,
.title-container::after {
  content: "";
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
}

.title-container::before {
  background-image: url('assets/img/titel-decoratie-links.png');
  margin-right: 10px;
}

.title-container::after {
  background-image: url('assets/img/titel-decoratie-rechts.png');
  margin-left: 10px;
} */





@media (min-width: 1280px) {

  body{
    margin-block: var(--space-algemeen) 0px;
  }

.intro {
  background-image: url('assets/img/kraag-desktop.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: background-position 10s ease-out; Optioneel: voor een vloeiende beweging */
}

  .header__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
  }

  .header__logo-img {
    max-width: 100px;
    max-height: auto;
  }

  .header__img {
    margin-top: -2rem;
    max-height: auto;
    max-height: 550px;
  }

  .intro__title {
    font-size: var(--fs-4);
    margin-block: -2vw;
  }

  .intro__container {
    margin-block: 0vw 10vw;
  }

  .intro__title-2 {
    font-size: var(--fs-5);
    margin-top: -4rem;
  }

  .story__img{
    transform: scaleY(-1);
  }

  .nav {
    display: flex;
    list-style: none;
    gap: 200px;
  }

  .nav__item .nav__link {
    text-decoration: none;
    color: var(--c-blue);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .nav__item .nav__link:hover {
    color: var(--c-yellow);
  }










.sub-intro .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.sub-intro__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.story__item {
  display: flex;
  justify-content: center;
  /* Zorgt ervoor dat de afbeelding gecentreerd is */
}

.story__img img {
  max-width: 100%;
  height: auto;
}

.intro-text {
  display: grid;
  margin-inline: 5.5vw;
}

.sub-intro__title {
  margin-block: -3vw;
}

.intro__img{
  transform: scaleY(-1) rotate(-15deg);
}

.story__body {
  font-size: 1.2em;
  line-height: 1.5;
}

.chapter1__img{
  max-width: 65%;
  max-height: auto;
}

.torn-paper__img{
  z-index: 1;
  margin-block: 0vw -3vw;
}

.chapter1__content{
  margin-block: 0vw;
}

.chapter1__title {
  margin-block: 10vw;
}


.markt {
  padding: 20px;
}

.markt__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Twee gelijke kolommen */
  gap: 20px;
  /* Ruimte tussen de kolommen */
  align-items: center;
  /* Verticale uitlijning */
}

.markt__body {
  grid-column: 2;
  margin-inline: 5vw 22vw;
  margin-block: 10vw 3vw;
}

.chapter1__img {
  max-width: 100%;
  height: auto;
  grid-column: 1;
}

.intro-pointer{
  display: grid
}

.pointer__img{
  grid-column: 2;
  transform: rotate(-180deg);
}

.pointer_text{
  grid-column: 1;
}










.gallery__container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: (2fr,1fr);
}


.quote-top {
  grid-column: 4 / span 3;
  grid-row: 1;
  text-align: left;
  margin-block: 5vw 0vw;
  margin-inline: 4vw;
}

.quote-bottom {
  grid-column: 8 / span 2;
  grid-row: 1;
  margin-block: 5vw 5vw;
  margin-inline: 2vw;
  text-align: left;
}

.portraits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 4 / span 5;
  grid-row: 2;
}

.portrait-right  {
  max-width: 85%;
  /* Zorgt dat de afbeeldingen responsief blijven */
  height: auto;
}

.kandelaar {
  grid-column: 2 / span 3;
  /* Onder de quotes, midden */
  grid-row: 2;
  max-width: 70%;
  transform: rotate(-7deg);
  z-index: 3;
  margin-block:  0vw 0vw;
  margin-inline:3vw 0vw;
}

.lucifer {
  grid-column: 1;
  grid-row: 1;
  transform: rotate(50deg);
  margin-block: 2vw 0vw;
  margin-inline: -1vw 0vw;
}

.gallery-pointer {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: center;
}

.gallery-pointer__text {
  text-align: left;
  margin-inline: 0vw;
}

.gallery-pointer__img {
  transform: rotate(70deg);
  text-align: left;
  margin-inline: 0vw;
  margin-block: 0vw;
}

.boek {
  grid-column: 9 / span 2;
  grid-row: 2;
  transform: rotate(8deg);
  max-width: 85%;
  height: auto;
  margin-block:  13.2vw -2vw;
  margin-inline: -5vw 0vw;
  z-index: 0;
}

.torn-paper{
  grid-row: 3;
  grid-column: 1 / span 10;
  z-index: 1;
  margin-block: -2.5vw -5vw;
}












.chapter1__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.chapter1__image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
  grid-row: 1;
  grid-column: 1 / span 3;
}

.chapter1__text-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: start;
}

.chapter1__text-grid p {
  grid-column: 2;
  /* Plaatst de tekst naast de afbeeldingen */
}

.neus__img,
.inkttampon__img,
.papier__img {
  max-width: 100px;
}

.paper-interaction-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.perkament__img {
  grid-column: 1;
  justify-self: start;
}

.interaction-content {
  grid-column: 3;
  justify-self: end;
}

.interaction-content__arrow {
  grid-column: 2;
  justify-self: center;
}





/* 
.chapter1__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}

.title-container {
  grid-column: 2;
  text-align: center;
  font-family: "GiordanoGold";
}

.chapter1__title {
  text-align: center;
  font-family: "GiordanoGold";
}

.chapter1__body {
  text-align: left;
  margin-block: var(--space-algemeen);
  margin-inline: var(--space-algemeen);
}

.chapter1__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.chapter1__text-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1rem;
}

.chapter1__image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
}

.neus__img {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.inkttampon__img {
  grid-column: 2 / span 3;
  grid-row: 1;
  margin-inline: 5vw 0vw;
  margin-block: -10vw 0vw;
}

.papier__img {
  grid-column: 3 / span 3;
  grid-row: 2;
  margin-block: -20vw 0vw;
  margin-inline: -5vw 0vw;
}


.chapter1__img {
  max-width: 100%;
  height: auto;
}

.paper-interaction-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.perkament {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.perkament__img {
  max-width: 80%;
  height: auto;
}

.interaction-content {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.interaction-content__subtitle {
  font-family: "GiordanoGold";
  color: var(--c-blue);
  margin-inline: var(--space-algemeen);
  text-align: left;
}

.interaction-content__body {
  margin-inline: var(--space-algemeen);
  margin-block: var(--space-algemeen);
  text-align: left;
}

.interaction-content__subtitle {
  margin-inline: var(--space-algemeen) 15vw;
}

.interaction-content__arrow {
  transform: rotate(90deg);
  grid-column: 1 / span 2;
}

.pijl-container {
  grid-column: 2;
  grid-row: 2;
  max-width: 80%;
  z-index: 1;
  margin-block: -30vw 0vw;
}
 */




}