@import url("reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

img,picture {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {

  --s0: 0.5rem;
  --s1: 1rem;
  --s2: 1.5rem;
  --s3: 2rem;

  --c-black: #1E1E1E;
  --c-blue: #3C4E6B;
  --c-green: #436246;
  --c-yellow: #FFC659;
  --c-yellow-background: #F4E4CA;
  --c-background:#F1ECE6;

  --fs-s: 1.25rem;
  --fs-m: 1.5rem;
  --fs-l: 1.85rem;
  --fs-xl: 2.2rem;
}

body {
  background: var(--c-background) url('assets/img/behang.png') repeat;
  color: var(--c-black);
  line-height: 1.6;
}

h1 {
  font-size: var(--fs-xl);
  font-family: "Giordano Gold";
}

h2 {
  font-size: var(--fs-l);
  font-family: "Giordano Gold";
}

h3{
  font-size: var(--fs-m);
  font-family: "Giordano Gold";
}

p {
  font-size: var(--fs-s);
  font-family: "Source Serif Pro";
}

.chapter1,
.markt, 
.chapter2, 
.soldaten, 
.chapter3, 
.interactive__manuscripten, 
.chapter4 {
  background-color: var(--c-yellow-background);
}


/* .container {
  width: 90%;
  margin: 0 auto;
} */


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  height: 50px;
}

.header__menu-toggle {
  color: var(--c-yellow);
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.nav__item .item__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}


/* Introsectie */
.intro {
  text-align: center;
}

.intro__title {
  color: var(--c-yellow);
}

.intro__title span {
  color: var(--c-green);
  font-family: Nautica;
  font-size: 2.8rem;
}




/* Responsiviteit */
@media (max-width: 768px) {
  .header__nav {
    display: none;
    /* Verborgen op mobiel */
  }

  .header__menu-toggle {
    display: block;
  }
}



.quote {
  text-align: center;
  padding: 10px;
}

.quote-top {
  font-style: italic;
  background-color: var(--c-yellow);
}

.quote-bottom {
  font-style: italic;
  background-color: var(--c-green);
}

.highlight {
  color: #d18b00;
  font-weight: bold;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  width: 45%;
  max-width: 200px;
}

.interaction {
  text-align: center;
}

.matches {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.matchstick,
.candlestick {
  width: 60px;
  height: auto;
}

.matchstick {
  align-self: flex-start;
}

.candlestick {
  align-self: flex-end;
}






